**/.idea
**/.git
**/.gitignore
**/.vscode
**/.cache
**/.venv
**/.env
**/venv
**/env
**/aws
**/ssh
**/Dockerfile
docker-compose.yml

README.md
requests-examples.http
sqlite3.db
docker/
clear_docker.sh

